<i> We've data spread across multiple files, so let's concatenate all the data as a single file prior to our analysis</i>

In [3]:
import pandas as pd
import os

In [9]:
path=r'C:\Users\asus\Documents\Projects\Sales Data Analysis\Data\Sales_Data-20230415T100143Z-001'

In [13]:
os.listdir(path),len(os.listdir(path))

(['Sales_April_2019.csv',
  'Sales_August_2019.csv',
  'Sales_December_2019.csv',
  'Sales_February_2019.csv',
  'Sales_January_2019.csv',
  'Sales_July_2019.csv',
  'Sales_June_2019.csv',
  'Sales_March_2019.csv',
  'Sales_May_2019.csv',
  'Sales_November_2019.csv',
  'Sales_October_2019.csv',
  'Sales_September_2019.csv'],
 12)

<b> We see that we've 12 files across which our data is distributed and hence we should be able to merge them for our analysis</b>

* so let's save the file names in a list

In [15]:
file_names=os.listdir(path)
file_names

['Sales_April_2019.csv',
 'Sales_August_2019.csv',
 'Sales_December_2019.csv',
 'Sales_February_2019.csv',
 'Sales_January_2019.csv',
 'Sales_July_2019.csv',
 'Sales_June_2019.csv',
 'Sales_March_2019.csv',
 'Sales_May_2019.csv',
 'Sales_November_2019.csv',
 'Sales_October_2019.csv',
 'Sales_September_2019.csv']

In [21]:
combined_data=pd.DataFrame()
for file in file_names:
    temp_df=pd.read_csv(path+'/'+file)
    combined_data=pd.concat([combined_data,temp_df])

print("Total records and columns in combined file are:",combined_data.shape)

Total records and columns in combined file are: (186850, 6)

In [22]:
combined_data.head(10)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
6,176562,USB-C Charging Cable,1,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016"
7,176563,Bose SoundSport Headphones,1,99.99,04/02/19 07:46,"668 Center St, Seattle, WA 98101"
8,176564,USB-C Charging Cable,1,11.95,04/12/19 10:58,"790 Ridge St, Atlanta, GA 30301"
9,176565,Macbook Pro Laptop,1,1700,04/24/19 10:38,"915 Willow St, San Francisco, CA 94016"

<i> Now that we've the data combined, let's export this dataset</i>

In [26]:
combined_data.to_csv(path+'/'+'combined_data.csv')